<div class="wrapper">
  <div class="clear">
    <div class="bato_block">
      <textarea name="code" id="code">
grupo Tinapay
  bilang Donut
    ang flavor
      mag_print 'Strawberry!'
    wakas
  wakas
wakas

tinapay = Tinapay::Donut.kumatawan
tinapay.flavor
      </textarea>
    </div>
    <div class="resulta"></div>
  </div>
  <div class="controls">
    <a href="#" id="run">Paandarin</a>
  </div>
</div>